:root {
  --primary-color: #421507;
  --seat-selected: #dbff00;
  --seat-occupied: #fff;
  --seat: grey;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--primary-color);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.movie-container #movie {
  background-color: #fff;
  padding: 5px;
  border-radius: 5px;
}

.container {
  perspective: 1000px;
  margin-bottom: 20px;
}

.seat-type {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.seat-type li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 10px;
  list-style-type: none;
}

.screen {
  transform: rotateX(-45deg);
  background-color: #fff;
  height: 100px;
  width: 100%;
  margin: 10px 0;
  box-shadow: 0 10px 50px rgba(255, 255, 255, 0.3);
}

.row {
  display: flex;
  justify-content: space-between;
}

.row .seat:nth-of-type(2) {
  margin-right: 20px;
}

.row .seat:nth-last-of-type(2) {
  margin-left: 20px;
}

.seat {
  background-color: var(--seat);
  width: 20px;
  height: 20px;
  margin: 5px 5px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.seat:not(.occupied):hover {
  cursor: pointer;
  transform: scale(1.2);
}

.seat-type .seat:not(.occupied):hover {
  cursor: default;
  transform: scale(1);
}

.seat.selected {
  background-color: var(--seat-selected);
}

.seat.occupied {
  background-color: var(--seat-occupied);
}

p #count {
  color: var(--seat-selected);
}

p #total {
  color: var(--seat-selected);
}
